@model BudgetTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="row">
    <div class="offset-sm-3 col-sm-6">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <h5 class="form-inactive">@Html.ActionLink("SIGN IN", "Login", "Account", new { @class = "form-inactive" })</h5>
                    </div>
                    <div class="offset-3 col-5">
                        <h5 class="pink-bot-border">SIGN UP</h5>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="offset-md-1 col-md-10">
                    <label class="form-label">EMAIL</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="offset-md-1 col-md-10">
                    <label class="form-label">PASSWORD</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="offset-md-1 col-md-10">
                    <label class="form-label">CONFIRM PASSWORD</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn pink btn-block sign-up-btn" value="SIGN UP" />
                </div>
            </div>

        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
